@tailwind base;
@tailwind components;
@tailwind utilities;

.bestSell{
  @apply container mx-auto flex
  xxs:flex-col xxs:gap-52
  sm:gap-28
  lg:flex-row lg:pt-28;
  &__productList{
    @apply w-full flex justify-between
    xxs:flex-col xxs:items-center xxs:gap-52
    sm:flex-row sm:gap-6
    lg:items-end  ;
  }
  &__title{
    @apply  flex flex-col gap-5  justify-center pt-32
    xxs:w-full
    lg:w-2/6 lg:items-center;
    &__main{
      @apply text-6xl font-normal leading-tight
    }
    &__Contentnavigation{
      @apply w-full h-16 flex flex-row items-start text-xl gap-5
    }
  }
}
