@tailwind base;
@tailwind components;
@tailwind utilities;

.reference{
  @apply mb-28;
  &__title{
    @apply w-full flex flex-col justify-center items-center mt-28 mb-20 gap-5;
    &__lineBig{
      @apply text-6xl font-normal leading-tight
    }
    &__lineSmall{
      @apply text-xl
    }
  }
  &__card{
    @apply w-full flex flex-row
    xxs:gap-5
    lg:gap-10
    3xl:gap-0;
    &__left{
      @apply w-1/2 flex flex-col
      xxs:gap-4
      lg:gap-12
    }
    &__right{
      @apply xxs:w-1/2
    }
  }
}