@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
  @apply  w-full h-auto relative bg-gradient-to-t from-[#566270] to-[#283444] items-center pt-20;
  &__main{
    @apply container mx-auto  w-full flex flex-col justify-center items-center
    xxs:gap-16
    md:gap-10
    xl:gap-16
    2xl:px-20;
    &__content{
      @apply w-full h-2/4 flex  items-center
      xxs:flex-col xxs:gap-16
      lg:flex-row
      xl:gap-24 ;
      &__emailbutton{
        @apply md:w-7/12 lg:w-5/12 xl:w-3/12;
        &__title{
          @apply text-3xl text-white font-medium
          xxs:mb-8
          md:text-center
        }
      }
      &__navigation{
        @apply container flex
        xxs:flex-col xxs:w-full xxs:gap-10
        xs:w-10/12
        sm:w-1/2
        md:w-full md:flex-row    ;
      }
    }
    &__sideNote{
      @apply w-full border-t border-white flex justify-center items-center text-white h-32;
    }

  }

}